.full-post-page-header{
    display: flex;
    justify-content: space-between;
    position: relative;
    border: 7px solid #0e004d;
    border-radius: 15px 15px 0 0;
    background-color: #fffdea;
    min-width: 600px;
}

 .copy-btn-full{
        cursor: pointer;
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        z-index: 15;
 }

 .delete-comment {
    top: -2px;
    right: 0px;
    position: absolute;
    cursor: pointer;
    text-shadow: rgb(25 25 25) 1px 0px 0px;
    color: rgb(199, 0, 0);
 }